<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template1">
<head>
<meta charset="UTF-8" />
<title>Entreprise</title>
<link rel="stylesheet" type="text/css"  href="css/bootstrap.min.css"/>
<link rel="strylesheet" type="text/css" href="css/style.css" />
</head>
<body>
	<div layout:fragment="content" class="container col-md-10 col-md-offset-1 col-sm-6 col-xs-6 col-xs-offset-3">
		<div class="panel panel-primary">
			<div class="panel-heading">List des Entreprises</div>
			<div class="panel-body">
				<form th:action="@{/entreprises}" method="get">
					<label>Mot Clé: </label>
					<input type="text" name="mc" th:value="${mc}" />	
					<button type="submit" class="btn btn-primary">Chercher</button>
				</form>
				<table class="table table-striped spacer">
					<thead >
						<tr>
							<th>Code</th>
							<th>Nom</th>
							<th>Email</th>
							<th>Raison sociale</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="e:${listEntreprises}">
							<td th:text="${e.code}"></td>
							<td th:text="${e.nom}"></td>
							<td th:text="${e.email}"></td>
							<td th:text="${e.raisonSociale}"></td>
							<td>
								<a th:href="@{/taxes(code=${e.code})}">Taxes</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div >
			<ul class="nav nav-pills">
				<li th:each="page, status:${totalPages}"
					th:class="${pageCourante==status.index}?'active':''"
					>
					<a th:href="@{/entreprises(page=${status.index}, size=${size}, mc=${mc})}"
						th:text="${status.index}">
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>