<!DOCTYPE html>
<html 	
	xmlns:th="http://www.thymeLeaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> 
<head>
<meta charset="UTF-8" />
<title>Authentification</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
	<div class="container col-md-4 col-md-offset-3 col-sm-6 col-xm-6">
		<div class="container">
			<span class="text-danger" th:if='${param.error}'>
				Incorrect Username or password
			</span>
			<span class="text-danger" th:if='${param.logout}'>
				You have been logged out
			</span>
		</div>
		<div class="panel panel-primary spacer">
			<div class="panel-heading">Authentification</div>
			<div class="panel-body">
				<form th:action="@{/login}" method="post">
					<div class="form-group">
						<label class="form-label">Username</label>
						<input class="form-control" type="text" name="username" />
					</div> 
					<div class="form-group">
						<label class="form-label">Password</label>
						<input class="form-control" type="password" name="password" />
					</div> 
					<button class="btn btn-primary" type="submit">Login</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>